

.question-wrapper {
    padding: 20px;
    margin: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.counter-content {
    display: flex;
    align-items: center;
}

.boundary {
    margin-left: 10px;
}

.text-wrapper {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(207, 159, 255);
}

.text-title {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: left;
    margin: 10px 0;
}

.input-wrapper {
    margin-top: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.button-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: rgb(207, 159, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(214, 179, 250);
}

.helper-wrapper {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.helper-text {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
    display: inline-block;
    border-bottom: 2px solid rgb(207, 159, 255);
    padding-bottom: 2px;
}
